.container
  background: rgb(62, 172, 91)
  width: 100%
  height: calc(100vh - 60px)
  .row-wrapper
    padding-top:  calc(30vh - 60px)
    .row:nth-child(1)
      margin-bottom: 20px
    .row
      width: calc(40vh + 20px)
      height: 20vh
      background: rgb(191, 184, 18)
      margin: auto
      .cards:nth-child(1)
        margin-right: 20px
      .cards
        width: 20vh
        height: 20vh
        background: rgb(145, 65, 7)
        display: inline-block
