.navbar
  padding: 10px
  height: 40px
  position: relative
  .logo
    display: inline-block
    a
      height: 30px
      img
        height: 30px
        display: inline-block
      span
        font-size: 30px
        position: absolute
        top: 9px
        color: linear-gradient(to right, red , yellow)
  .links
    position: absolute
    display: inline-block
    margin: 0
    right: 0
    a
      i
        font-size: 1.5em
        margin: 7.5px
        &:hover
          color: rgb(66, 124, 71)
