.navbar
  padding: 10px
  height: 40px
  position: relative
  .logo
    display: inline-block
    position: absolute
    left: 50%
    margin-left: -62.008px
    a
      height: 30px
      text-decoration: none
      color: #000
      &::before
        content: ""
        margin-top: 5px
      img
        height: 40px
        display: inline-block

      span
        font-size: 2.4em
        font-family: "Francois One"
        color: linear-gradient(red , yellow)
        opacity: 0.5
  .links
    position: absolute
    display: inline-block
    list-style: none
    margin: 0
    padding: 0
    right: 0
    a
      display: inline-block
      margin-left: 10px
