doctype html
html(lang='en')
    head
      meta(charset="utf-8")
      title Parth Jansari | Designer
      meta(name="description", content="")
      meta(name="author", content="parth_jansari")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Francois+One|Oswald:300")
      link(rel="stylesheet", href="css/main.css")
    body
      .navbar
        .logo
          a(href="index.html")
            img(src="img/logo-o.png") 
            span FinFox
        .links
          i.fa.fa-ellipsis-v
          ul.dropdown
            li 
              i.fa.fa-cog
              a(href="#")
                |settings 
            li 
              i.fa.fa-sign-out
              a(href="#") 
                |logout 
      .container(style="overflow-Y:visible")
        .list
          ul
            li jan
            li fab
            li mar
        .card
          .c-card
            .name Vaibhav Patel
            .alias vaibhav
            .number
              span 2020  2057  5048  5048
          .details
            .line
              span cradit
              span 2000$ 
            .line
              span cradit
              span 2000$ 
      script(src="https://use.fontawesome.com/4077f384a5.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/plugins/ScrollToPlugin.min.js")
      script(src="js/app.js")
