doctype html
html(lang='en')
    head
      meta(charset="utf-8")
      title Parth Jansari | Designer
      meta(name="description", content="")
      meta(name="author", content="parth_jansari")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Francois+One")
      link(rel="stylesheet", href="css/main.css")
    body
      .navbar
        .logo
          a
            img(src="img/logo-o.png") 
            span FinFox
        ul.links
          a
            i.fa.fa-cog(aria-hidden="true")
          a
            i.fa.fa-sign-out(aria-hidden="true")
      .container
        .row-wrapper
          .row
            .cards
            .cards
          .row
            .cards
            .cards
      script(src="https://use.fontawesome.com/4077f384a5.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/plugins/ScrollToPlugin.min.js")
      script(src="js/app.js")
