html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sign Up Form
    link(href='http://fonts.googleapis.com/css?family=Nunito:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/style.css')
  body
    form(action='index.html', method='post')
      h1 Sign Up
      fieldset
        legend
          span.number1 Your basic info
        label(for='name') Name
        input#name(type='text', name='user_name')
        label(for='email') Email
        input#email(type='email', name='user_email')
        label(for='password') Password
        input#password(type='password', name='user_password')
        label(for='number') Contact no.
        input#password(type='text', name='user_Contact')
      button(type='submit') Sign Up
